.container {
    position: relative;
    padding: 1rem 1.5rem;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-ma-sb {
    justify-content: space-between;
}

.flex-ca-center {
    align-items: center;
}
/*
.flex-main-center {
    justify-content: center;
}

.flex-main-sb {
    justify-content: space-between;
}

.flex-cross-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

*/
