.container {
    position: relative;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-ma-sb {
    justify-content: space-between;
}

.flex-ca-center {
    align-items: center;
}
