.container {
    position: relative;
}

.container.padding {
    padding: 1rem 1.5rem;
}

.container.margin-bottom {
    margin-bottom: 1.5rem;
}

.container.container-form {
    min-width: 400px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-ma-sb {
    justify-content: space-between;
}

.flex-ca-center {
    align-items: center;
}

.flex-it-gr-sh {
    flex: 1 1 auto;
}

.flex-ma-center {
    justify-content: center;
}

.container-flex.container-summary {
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-flex.container-logout {
    font-size: 2rem;
    height: 10rem;
}

/*
.flex-main-sb {
    justify-content: space-between;
}

.flex-cross-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

*/
