.dialog {
    height: 1.8rem;
    top: 0;
    left: 0;
    padding: 0.2rem 0.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}

.dialog-info {
    position: sticky;
    height: auto;
    font-size: 1.5rem;
    top: 0;
    z-index: 1;
    background-color: rgb(12, 92, 155);
}

.dialog-warning {
    background-color: rgb(173, 105, 4);
}

.dialog-hidden {
    visibility: hidden;
}

.dialog-error {
    position: sticky;
    height: auto;
    font-size: 1.5rem;
    top: 0;
    z-index: 1;
    background-color: rgb(144, 20, 11);
}

.dialog-message {
    font-weight: 500;
}
