.table-order {
    border-collapse: collapse;
    font-size: 1.25rem;
    min-width: max-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-order thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-order th,
.table-order td {
    padding: 12px 15px;
}

.table-order tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-order tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-order tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/*
.table-order tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
