.table-order {
    border-collapse: collapse;
    font-size: 1.25rem;
    min-width: max-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-order thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-order th,
.table-order td {
    padding: 12px 15px;
}

.table-order tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-order tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-order tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
